body {
  background-color: rgb(124, 124, 124);
}

body {
  background-color: rgb(164, 168, 164);
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

input {
  color: rgb(0, 0, 0);
  text-align: center;
}

.inscricao{
  text-align: center;
}

.button1{
  text-align: center;
}

.button2{
  text-align: center;
}

.button3{
  text-align: center;
}

.button4{
  text-align: center;
}

.button1 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: deepskyblue;
  padding: 15px 32px;
}

.button2 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: deepskyblue;
  padding: 15px 32px;
}

.button3 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: deepskyblue;
  padding: 15px 32px;
}

.button4 {
  border: none;
  border-radius: 40px;
  color: white;
  background-color: deepskyblue;
  padding: 15px 32px;
}

.planos{
  text-align: center;
}

